:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #652a81;
  --primary-shadow-color: #f1e8fd;
  --dropdown-bg-color: #efefef;
  --dropdown-text-color: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-color: #652a81;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  z-index: 0;
}

main {
  padding: 1.5rem 4rem;
  position: relative;
  z-index: 0;
  isolation: isolate;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.authentication-sections {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  .authentication-section-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 3rem;

    .authentication-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 480px;
      margin: 0 auto;

      gap: 2rem;
      flex: 1;

      button {
        padding: 1rem;
        background-color: var(--primary-color);
        border: none;
        outline: none;
        border-radius: 0.5rem;
        &:disabled {
          background-color: rgb(from var(--primary-color) r g b / 25%);
        }
      }

      p {
        text-align: center;
      }

      p > a {
        color: var(--primary-color);
        &:hover {
          opacity: 0.75;
        }
      }

      .authentication-fields {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .authentication-field {
          label {
            display: block;
            margin-bottom: 0.5rem;
            &::after {
              content: "*";
              color: red;
            }
          }
          input {
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: 1px solid rgb(from var(--dropdown-text-color) r g b / 50%);
            outline: none;
            color: var(--dropdown-text-color);
            background-color: var(--background);
            width: 100%;
          }
        }
      }

      .authentication-error {
        color: red;
        text-transform: capitalize;
      }
    }
  }
  .authentication-section-2 {
    flex: 1;
    position: relative;
    background-color: var(--primary-shadow-color);
    img {
      position: absolute;
      top: 50%;
      left: 15%;
      transform: translateY(-50%);
      width: 48rem;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .authentication-section-2 {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

nav {
  padding: 1.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-links {
    display: flex;
    gap: 1rem;
  }
  button {
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    color: inherit;
  }
  .nav-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  #reg-btn {
    background-color: var(--primary-color);
    color: var(--background);
  }
  #log-btn {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
}

#search-bar-label {
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid rgb(from var(--foreground) r g b / 50%);
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  #search-bar-input {
    color: var(--foreground);
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
  }
}

#search-bar {
  padding: 0 4rem;
  display: flex;
  gap: 1rem;
  #filter-btn {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.5rem;
    color: var(--foreground);
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background: transparent;
  }
}

.search-btns {
  display: flex;
  align-items: center;

  #list-btn {
    border: 1px solid black;
    border-radius: 0.5rem 0 0 0.5rem;
    background: transparent;
    color: var(--foreground);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
  }
  #list-btn p {
    margin-left: 0.25rem;
  }
  #calendar-btn {
    border: 1px solid black;
    border-radius: 0.5rem;
    background: transparent;
    color: var(--foreground);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 0 0.5rem 0.5rem 0;
  }
  #calendar-btn p {
    margin-left: 0.25rem;
  }
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem 0.5rem 0 0;

  #task-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  #utility-btns {
    display: flex;
    gap: 0.5rem;
  }

  #export {
    border: 1px solid black;
    border-radius: 0.5rem;
    background: transparent;
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    display: flex;
    align-items: center;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    display: flex;
    align-items: center;
    border: 1px solid var(--foreground);
    padding: 0.5rem 0;
    min-width: 0;
  }

  th {
    background-color: var(--primary-shadow-color);
    color: var(--primary-color);
  }

  tr {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .task-row-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  th:not([data-column="task"]),
  td:not([data-column="task"]) {
    justify-content: center;
  }
}

.category-dropdown,
.priority-dropdown {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background-color: var(--dropdown-bg-color);
  color: var(--dropdown-text-color);
}

.completed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(from var(--foreground) r g b / 50%);
  border: 1px solid rgb(from var(--foreground) r g b / 50%);
  padding: 0.5rem 1rem;
  border-radius: 0 0 0.5rem 0.5rem;

  #page {
    display: flex;
    align-items: center;
  }
}

table {
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-collapse: collapse;

  .list-checkbox {
    margin-right: 0.25rem;
  }

  .list-checkbox:checked + div > .sheet-button > .task-row-name {
    text-decoration: line-through;
  }

  #task-list {
    border: 1px solid black;
    background: transparent;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  #category-list {
    display: flex;
    color: var(--foreground);
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--foreground);
    padding: 0.5rem;
  }

  #priority-list {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid var(--foreground);
    background-color: rgb(red / 50%);
    padding: 0.5rem;
    align-items: center;
  }

  #dline-list {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid var(--foreground);
    background-color: transparent;
    padding: 0.5rem;
    align-items: center;
  }

  #delete-list {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    border: 1px solid var(--foreground);
    background-color: rgb(red / 50%);
    padding: 0.5rem;
    align-items: center;
  }
}

#create-new-task-button {
  border: 1px solid black;
  border-radius: 0.5rem;
  background: transparent;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.sheet-button {
  border: none;
  outline: none;
  padding: none;
  margin: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--dropdown-text-color);
  display: block;
  width: 100%;
}

.sheet-content {
  padding: 1.5rem;
  color: var(--foreground);
  background-color: var(--background);
  width: max-content;
  height: 100vh;
}

.sheet-body-open > .black-background {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.sheet-body-close > .sheet-content {
  position: fixed;
  display: none;
  z-index: 9999;
}

.sheet-body-open > .sheet-content {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: block;
  padding: 1.5rem;
  color: var(--foreground);
  background-color: var(--background);
  width: max-content;
  height: 100vh;
}

.task-form-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  overflow-y: auto;

  & > div > * + * {
    margin-top: 0.5rem;
  }

  .task-form-title {
    font-size: 24px;
    background-color: transparent;
    color: var(--dropdown-text-color);
    border: none;
    outline: none;
  }

  .task-form-deadline,
  .task-form-priority,
  .task-form-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }

  .task-form-deadline input[type="datetime-local"] {
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background-color: var(--dropdown-bg-color);
    color: var(--dropdown-text-color);
  }

  .task-form-description {
    textarea {
      border: none;
      outline: none;
      color: var(--dropdown-text-color);
      background-color: transparent;
      resize: none;
      width: 100%;
      height: 12ch;
      font-family: "Arial";
    }
  }

  .task-form-notes {
    .ql-editor {
      height: 20ch;
    }
  }

  .task-form-reminder {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .task-form-submit {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--background);
    border-radius: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: auto;
    &:disabled {
      cursor: not-allowed;
      background-color: rgb(from var(--primary-color) r g b / 25%);
    }
  }
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.profile-page {
  display: flex;
  .profile-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 2rem 4rem;

    .profile-field {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      div {
        display: flex;
        gap: 0.5rem;
      }
      input {
        padding: 0.5rem;
        background-color: transparent;
        border: 1px solid rgb(from var(--dropdown-text-color) r g b / 50%);
        color: var(--dropdown-text-color);
        border-radius: 0.5rem;
        width: 100%;
      }
      button {
        padding: 0.5rem;
        outline: none;
        border: none;
        background-color: var(--primary-color);
        border-radius: 0.5rem;
        white-space: nowrap;
        margin-left: auto;

        &:disabled {
          cursor: not-allowed;
          background-color: rgb(from var(--primary-color) r g b / 25%);
        }
      }
      .profile-error {
        color: red;
        text-transform: capitalize;
      }
    }

    .profile-picture-section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      p {
        font-weight: bold;
      }
      div {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          border-radius: 100%;
          object-position: center;
          object-fit: cover;
        }
        label,
        button {
          padding: 0.5rem;
          border-radius: 0.5rem;
        }
        label {
          background-color: var(--primary-shadow-color);
          color: var(--primary-color);
        }
        button {
          color: red;
          border: 1px solid red;
          background-color: transparent;
          outline: none;
        }
        input[type="file"] {
          display: none;
        }
      }
    }
  }

  .analytics-section {
    flex: 1;
    padding: 2rem 4rem 2rem 2rem;
    background-color: var(--primary-shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .analytics-graph {
      background-color: var(--background);
      padding: 1rem;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #000000;
      p {
        display: block;
      }
      p:nth-child(1) {
        font-weight: bold;
      }
      p:nth-child(2) {
        font-size: 32px;
        color: var(--primary-color);
      }
    }

    .analytics-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-radius: 0.5rem;

      & > div > p:nth-child(1) {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 0.25rem;
      }
    }

    .completed {
      background-color: #f0faf5;
      color: #00592b;
      border: 1px solid #00592b;
    }

    .incomplete {
      background-color: #fdcdd6;
      color: #900f26;
      border: 1px solid #900f26;
    }

    .total {
      background-color: #ffffff;
      color: #000000;
      border: 1px solid #000000;
    }
  }
}

.event-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  color: var(--background);
  .text-wrap {
    text-overflow: ellipsis;
  }
}

.rbc-row-content {
  z-index: auto !important;
}

.calendar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: relative;

  button {
    background-color: var(--primary-color);
    color: var(--background);
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
  }

  p {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .navigation-buttons {
    button + button {
      margin-left: 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .profile-page {
    flex-wrap: wrap;
    .analytics-section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 4rem;
    }
  }
}
